.root {
    -fx-background-color: #000000; /* Black background */
}
@font-face {
    src: url("src/main/resources/com/gymapp/Fonts/Mighty Sans.ttf");
    font-family: "Mighty Sans";
}

.title {
    -fx-font-family: "Mighty Sans";
    -fx-font-size: 48px;
    -fx-fill: white;
    -fx-font-weight: bold;
}


.image-view {
    -fx-smooth: true;
}

.subtitle {
    -fx-font-size: 18px;
    -fx-fill: white;
}

.admin-btn {
    -fx-background-color: #c62828;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.trainer-btn {
    -fx-background-color: #2e7d32;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}
.member-btn {
    -fx-background-color: #2e7d32;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}
.table-view .table-column{
    -fx-alignment: center;
}
.table-view .column-header-background{
-fx-background-color: white;
-fx-background-radius: 3px 3px 0px 0px;
}
.table-view .column-header, .filter{
-fx-background-color: transparent;
-fx-size: 50px;
}
.table-view .column-header .label{
-fx-text-fill: #000;
-fx-font-family: Arial;
}