.side-form{
-fx-background-color: linear-gradient(to bottom right, #111111, #0f2027);
 -fx-border-color: #000;
 -fx-border-width: .4px .2px .4px .4px;
}

.side-btn {
    -fx-background-color: linear-gradient(to bottom right, #111111, #0f2027);
    -fx-text-fill: #ffffff;
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-border-color: #fff;
    -fx-border-width: 1.5px;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;

}
.vbox {
    -fx-background-color: rgba(17, 17, 17, 0.85); /* transparent black */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #ffffff20; /* subtle white border */
    -fx-border-width: 1px;
    -fx-padding: 15px;
}

.lebel-reward{
-fx-font-size: 20px;
-fx-background-color: #ffffff;
-fx-padding: 8px 14px;
-fx-background-radius: 12px;
-fx-border-radius: 12px;

}
.side-chat{
-fx-border-color: #fff;
-fx-border-width: 1.5px;
-fx-background-radius: 15px;
-fx-border-radius: 15px;
}
.side-btn:hover {
    -fx-background-color: linear-gradient(to bottom right, #333, #555);
    -fx-effect: dropshadow(gaussian, white, 15, 0.5, 0, 0);
}


.side-form2 {
    -fx-background-color: linear-gradient(to bottom right, #f58231, #ff8c42);
    -fx-border-color: #d96d00;
    -fx-border-width: .4px .2px .4px .4px;
}
.vbox2 {
    -fx-background-color: rgba(91, 91, 110, 0.9); /* transparent bluish-gray */
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #ffffff20; /* soft white border */
    -fx-border-width: 1px;
    -fx-padding: 15px;
}

